<div class="container">

    <h5>Liste des Weakness</h5>

    <div class="weak">

        <table class="table table-dark">

            <thead>
                <tr>
                    <th scope="col">name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let weakness of weaknessTags">
                    <td>{{ weakness.name }}</td>
                    <td><button class="btn btn-light" (click)="deleteWeaknessTag(weakness.id)">Supprimer</button>
                        <button class="btn btn-light" [routerLink]="['edit/', weakness.id]">Modifier</button></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-dark" [routerLink]="['new/']">Ajouter une Weakness</button>
    </div>

</div>